/**
 * Property of the NCLEX Power.
 * Reuse as a whole or in part is prohibited without permission.
 * Created by the Software Strategy & Development Division
 */
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Thin.ttf) format("truetype");
  font-weight: 100;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.tiptap {
  padding: 0rem;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap ul,
.tiptap ol {
  margin: 10px 20px;
}

.tiptap ul {
  list-style: disc;
}

.tiptap ol {
  list-style: decimal;
}

.tiptap {
  margin-top: 0;
}

.tiptap-field {
  min-height: 100px;
}

.is-editor-empty {
  font-size: 16px !important;
}

.tiptap table {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

.tiptap td,
.tiptap th {
  border: 1px solid #b4a6a6;
  box-sizing: border-box;
  min-width: 1em;
  padding: 6px 8px;
  position: relative;
  vertical-align: top;
}

.tiptap td > *,
.tiptap th > * {
  margin-bottom: 0;
}

.tiptap th {
  background-color: #e5f2ff;
  font-weight: bold;
  text-align: left;
  color: #333;
}

.tiptap .selectedCell:after {
  /* background: #312e2e; */
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.tiptap .column-resize-handle {
  background-color: rgb(91, 156, 212);
  bottom: -2px;
  pointer-events: none;
  position: absolute;
  right: -2px;
  top: 0;
  width: 4px;
}

.tiptap .tableWrapper {
  margin: 1.5rem 0;
  overflow-x: auto;
}

.tiptap.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
}
